<h1>
  page.ejs |
  <%= page.title %>
</h1>

<p>
Usually here goes <code>page.title</code> and <code>page.content</code>.
</p>

<p>
It is very similar to the post template. Howerver it can be stiled differently.
</p>

<p>
  Here's the `page` available with these properties:
</p>

<p>
  <%= Object.keys(page).join(' | '); %>
</p>

<hr>
